---

---

<ul
  class="flex justify-around text-3xl text-slate-500 p-3 gap-3 border-b-slate-400 border-b-2"
>
  <li><a href="/" class="">Home</a></li>
  <li><a href="About">About</a></li>
  <li><a href="Blog">Blog</a></li>
</ul>
